* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //border: 1px solid red;
  }

html {
    font-size: 16px; /* 1rem = 16px */
}



//colors

$colors:(
    yellow: #F4D04E,
    Gray-950: #111111,
    Gray-500:#6B6B6B,
    white: #FFFFFF
);


//Typography

$text-preset-1: (
  size: 1.5rem,
  line-height: 150%,
  weight: 800,
  letter-spacing: 0px
);

$text-preset-2: (
  size: 1rem,
  line-height: 150%,
  weight: 500,
  letter-spacing: 0px
);

$text-preset-3: (
  size: 0.8rem,
  line-height: 150%,
  weight: 500,
  letter-spacing: 0px
);

$text-preset-3-Bold: (
  size: 0.8rem,
  line-height: 150%,
  weight: 800,
  letter-spacing: 0px
);


//spacing

$space:(
    300: 24px,
    150: 12px,
    100: 8px,
    50: 4px
);


body {
      max-width: 1440px;
      height: 100vh;
      margin: 0 auto;
      background-color: map-get($colors, yellow );
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-family: "Figtree", serif;
}

.card {
    width: 384px;
    height: 522px;
    background-color: map-get($colors, white );
    display: flex;
    flex-direction: column;
    padding: map-get($space , 300 );
    border: 2px black solid;
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px rgb(0, 0, 0);
}

.card img {
    border-radius: 10px;

}
//span is default inline 
.category {
  display:inline-block;
  padding: map-get($space , 150 ) 0
}

.category p {
    background-color: map-get($colors, yellow );
    display:inline-block; 
    padding: map-get($space, 50) map-get($space, 150);
    border-radius: 4px;
    font-size: map-get($text-preset-3-Bold, size );
    line-height: map-get($text-preset-3-Bold, line-height);
    font-weight: map-get($text-preset-3-Bold, weight );
    word-spacing: map-get($text-preset-3-Bold, letter-spacing );
}


header p {
    font-size: map-get($text-preset-3, size );
    line-height: map-get($text-preset-3, line-height);
    font-weight: map-get($text-preset-3, weight );
    word-spacing: map-get($text-preset-3, letter-spacing );
    padding: map-get($space , 50 ) 0
}

header h1 {
  font-size: map-get($text-preset-1, size );
  line-height: map-get($text-preset-1, line-height);
  font-weight: map-get($text-preset-1, weight );
  word-spacing: map-get($text-preset-1, letter-spacing );
  padding: map-get($space , 50 ) 0
}

header h1:hover {
  color: map-get($colors , yellow );
  cursor: pointer;
}

article p {
  color: map-get($colors, Gray-500);
  font-size: map-get($text-preset-2, size );
  line-height: map-get($text-preset-2, line-height);
  font-weight: map-get($text-preset-2, weight );
  word-spacing: map-get($text-preset-2, letter-spacing );
  padding: map-get($space , 150 ) 0
}

.author {
  padding-top: 0.5rem;
}

.author p {
  display: inline;
  padding: 0;
  color: map-get($colors , Gray-950 );
  font-size: map-get($text-preset-3-Bold, size );
  line-height: map-get($text-preset-3-Bold, line-height);
  font-weight: map-get($text-preset-3-Bold, weight );
  word-spacing: map-get($text-preset-3-Bold, letter-spacing );
}

// css-tricks tip!
.author img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
}


.attribution {
  font-weight: 600;
  padding: 1rem;
  text-align: center;
}



@media only screen and (max-width: 600px) {

  html {
    font-size: 14px; /* 1rem = 14px mobile*/
  }
  
  .card {
    width: 327px;
    height: 501px;
  }

  header img {
    width: 279px;
    height: 200px;
    object-fit: cover;
  }

}